body {
  font-family: "Raleway", sans-serif;
}

h1 {
  color: black;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-transform: capitalize;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px 16px 24px 16px;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

form {
  display: block;
  margin-top: 0em;
  margin-block-end: 1em;
  box-sizing: border-box;
}

input {
  border-radius: 2px;
  border: none;
  height: 44px;
  padding: 10px;
  width: 300px;
}

.btn {
  border-radius: 2px;
  background-color: rgb(97, 94, 114);
  color: #fff;
  height: 44px;
  float: left;
}

.btn-success {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  color: #fff;
  background-color: rgb(137, 116, 163);
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

footer {
  text-align: center;
}
